@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: gray;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: rgb(192, 192, 192);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #358f53;
    display: flex;
    color: white;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color:white;
    margin-left: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}
.design__change{
    background-color: rgb(58, 56, 56);
    color: white;
    font-weight: 900;
    font-size: 20px;
}
::-webkit-scrollbar{
    width: 15px;
    border-radius: 10px;    
}
::-webkit-scrollbar-track{
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
    
    
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,#06dee1,#79ff6c);
    border-radius: 100px;
    
}



.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #2d5827;
    color: #fff;  
}
.outgoing {
    background: rgb(80, 80, 102);
    color: white;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}